html {
	color: rgb(192, 191, 191);
}
body {
	background-color: rgb(44, 43, 43);
}
table {
	padding: 25px;
	margin: 0 auto;
	border: 3px solid rgb(162, 40, 40);
	border-radius: 5%;
}
.item {
	background-color: aliceblue;
	display: flex;
	flex-direction: row;
	flex-basis: 250px;
}
.item-h {
}
