body {
	background-color: #00000000 !important;
}
.container {
	margin-top: 50px;
	width: 25% !important;
}
form {
	background: #55ac90;
	border: 2px solid #1b71a6;
	border-radius: 10px;
	padding: 20px 10px;
}
#task {
	width: 60%;
	float: left;
	margin-right: 5%;
}
.sendTask {
	margin-left: 5px;
}
.delete {
	color: red;
	background-color: red;
}
